{% extends 'chatapp/main.html' %}
{% load static %}
{% block content %}
    <h1>Room</h1>

<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>

    </section>
    <section id="video-streams">
        <!-- <div class="video-container" id="user-container-1">
            <div class="username-wrapper"><span class="user-name">My Name</span></div>
            <div class="video-player" id="user-1"></div>
        </div> -->
    <section id="controls-wrapper">

        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.jpg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="cam-btn" src="{% static 'images/vdocall.png' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="{% static 'images/end-call.jpg' %}" />
        </div>
    </section>    

        

        

    </section>
</main>
<script type="text/javascript" src="{% static 'assets/' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
{% endblock content %}